# Project exclude paths
/target/
/.idea/
test_run/logs/
test_run/saves/
/.vscode/
test_run/options.txt
test_run/usercache.json
test_run/saves/MCP Development World/level.dat
test_run/versions/1.8.9/1.8.9.jar
test_run/crash-reports/
